<!DOCTYPE html>
<html>
  <head>
    <title>@sminn.ee</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="alternate"
      type="application/atom+xml"
      href="/feed.xml" />
    <script>
      function toggle() {
        const el = document.getElementById('toggleable');
        if (el.classList.contains('expanded')) {
          el.classList.add('collapsed');
          el.classList.remove('expanded');
        } else {
          el.classList.remove('collapsed');
          el.classList.add('expanded');
        }
      }
    </script>
  </head>
  <body>
    <main class="page">
      <div class="article-holder">
        <article>
          {% if title != "" %}
            <h1 class="tight">{{ title }}</h1>
            <p>
              <strong>{{ date | postDate }}</strong>
            </p>
            <p>
              <a href="/">← Home</a>
            </p>
          {% endif %}
          {{ content }}
        </article>
      </div>
      <aside class="sidebar">
        <h1 onclick="toggle()">@sminn.ee</h1>
        <div id="toggleable">
          <img
            class="avatar"
            src="/img/sam-avatar.jpg"
            alt="Photo of Sam" />
          <p>
            This is the personal blog of Sam Minnée. I co-founded
            <a href="https://silverstripe.com">Silverstripe</a>, was
            CTO and CEO there. More recently, I’m currently CTO at
            <a href="https://www.tellfrankie.com">Frankie</a>
            and
            technical co-founder of
            <a href="https://vcxo.directory">vCXO.directory</a>
            and
            <a href="https://astronort.com">Astronort</a>.
          </p>
          <h2>Recent posts</h2>
          {% for post in collections.post %}
            <p>
              <strong>
                <a href="{{ post.url }}">{{ post.data.title }}
                </a>
                <br/>
                {{ post.data.date | postDate }}</strong>
            </p>
          {% endfor %}
        </div>
      </aside>
    </main>
  </body>
</html>